<h1>AppFolio Website Team Happy Stories</h1>

<%= render 'header' %>

<h2><%= pluralize(@stories.size, 'Happy Client') %></h2>

<% @stories.each do |story| %>
  <article>
    <header>
      <h3><%= link_to story.company_name, story %></h3>
    </header>
    <table>
    <tr>
      <th>Description:</th>
      <td> <%= truncate(story.description, length: 40, separator: ' ') %></td>
    </tr>
      <tr>
        <th>Rep Name:</th>
        <td>
          <%= story.rep_name %>
        </td>
      </tr>
      <tr>
        <th>VAS Object:</th>
        <td><%= story.vas_object %></td>
      </tr>
      <tr>
        <th>Case Link:</th>
        <td><%= link_to story.case_link, story.case_link, :target => '_blank' %></td>
      </tr>
    </table>
  </article>
<% end %>
<br>
<%= render 'footer' %>

