
<h1 style="font-size: 63px;">Happy Stories</h1>
<h3 style="margin-top: -11px; margin-left: 145px;">AppFolio Website Team</h3>


<%= render 'header' %>

<%= render 'monthly_winner' %>


<h2><%= pluralize(@stories.size, 'Happy Client') %> in <%= Date::MONTHNAMES[Date.today.month] %></h2>

<%= render 'story' %>

<br>
<%= render 'footer' %>
