<h1><%= Date::MONTHNAMES[Date.today.month-1] %> Winner</h1>

<%= render 'header' %>

<%= render 'random' %>

<br>

<%= link_to 'Refresh Random Story', url_for(params) %>

<br><br>

<%= render 'footer' %>